@media (max-width: 600px) {
    .card {
        width: 90%;
    }
    
    .photos {
      grid-template-columns: 1fr;
    }
    
    .photos img:nth-child(1),
    .photos img:nth-child(2),
    .photos img:nth-child(3),
    .photos img:nth-child(4),
    .photos img:nth-child(5), iframe {
        grid-column: 1;
    }  
}